{# INDEX.HTML #}

<p>
	{% if tel_number %}
	THe tel_number you entered is {{tel_number}}
	update it in the form below:
	{% else %}
	Please enter your tel_number:
	{% endif %}
</p>

<form method="POST">
	{{form.hidden_tag()}}
	{{form.tel_number.label}}{{form.tel_number()}}
	{{form.submit()}}

</form>